<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

      <ion-title class="title">{{recipe.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Destination</ion-card-subtitle>
          <ion-card-title>Madison, WI</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ul *ngFor="let ingredient of recipe.extendedIngredients">
            <li>
              {{ingredient.name}}
            </li>
          </ul>
        </ion-card-content>
      </ion-card>
</ion-content> -->


<ion-content>
  <ion-list *ngFor="let ingredient of recipe.extendedIngredients">
    <ion-item>

          <ion-label>{{ingredient.name}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>

