<!-- <ion-header>
  <ion-toolbar>
    <ion-title class="title">{{recipe.title}}</ion-title>
  </ion-toolbar>
</ion-header> -->

<!-- <ion-content>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Destination</ion-card-subtitle>
          <ion-card-title>Madison, WI</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ul *ngFor="let ingredient of recipe.extendedIngredients">
            <li>
              {{ingredient.name}}
            </li>
          </ul>
        </ion-card-content>
      </ion-card>
</ion-content> -->


<ion-content>
  <ion-list *ngFor="let ingredient of recipe.extendedIngredients">
    <ion-item-sliding #item>
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{ingredient.name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
        </ion-card-content>
      </ion-card>
    </ion-item-sliding>
  </ion-list>
</ion-content>

