<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-button (click)="toggleSearchBar()">
				<ion-icon id="searchIcon" slot="icon-only" name="search"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-title id="recipeTitle" class="fadeIn" >
			Recipes List
		</ion-title>
		<ion-searchbar id="searchBar" class="hiddenSearchBar"></ion-searchbar>	
		<ion-buttons slot="end">
			<ion-button routerLink="/add" routerDirection="forward">
				<ion-icon slot="icon-only" name="cart"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>





<ion-content>
	<ion-list *ngFor="let recipe of recipes">
		<ion-item-sliding #item>
			<ion-card>
				<ion-card-header class="card_header_recipe_home">
					<img class="img_recipe" src="https://spoonacular.com/recipeImages/{{recipe.imageUrls}}"/>
					<ion-card-title>{{recipe.title}}</ion-card-title>

				</ion-card-header>
				<ion-card-content>
					<ion-icon name="timer"></ion-icon>
					{{recipe.readyInMinutes}}
					<ion-icon name="person"></ion-icon>
					{{recipe.servings}}
					<ion-button class="btn_recipe" routerLink="/recipe/{{recipe.id}}" routerDirection="forward">
						<ion-icon id="searchIcon" slot="icon-only" name="search"></ion-icon>
					</ion-button>
				</ion-card-content>
			</ion-card>
		</ion-item-sliding>
	</ion-list>
</ion-content>
