@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}


@-webkit-keyframes leftToRightFadeIn {
	from {
		opacity: 0;
		left: -100%;
	}
	to {
		opacity: 1;
		left: 0;
	}

}

@-webkit-keyframes reverseLeftToRightFadeIn {
	from {
		opacity: 1;
		left: 0;
	}
	to {
		opacity: 0;
		left: -100%;
		display: none;
	}
}

.fadeIn2 {
	animation-name: fadeIn;
	animation-duration: 1s;
}

#searchBar{
	animation-name: leftToRightFadeIn;
	animation-duration: 0.5s;
}

.hidden{
	display: none;
}

.hiddenSearchBar{
	animation-name: reverseLeftToRightFadeIn;
	animation-duration: 0.5s;
	display: none;
}


.img_recipe{
	object-fit: cover;
	max-height: 200px;
}

.card_header_recipe_home{
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
}

.card_header_recipe_home ion-card-subtitle{
	padding-left: 5px;
	padding-right: 5px;
}

.card_header_recipe_home ion-card-title{
	padding-left: 5%;
	padding-right: 5%;
}

.btn_recipe {
	float: right;
}