<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button>
				<ion-icon slot="icon-only" name="search"></ion-icon>
			</ion-menu-button>
		</ion-buttons>
		<ion-title>
			Recipes List
		</ion-title>
		<ion-buttons slot="end">
			<ion-button routerLink="/add" routerDirection="forward">
				<ion-icon slot="icon-only" name="cart"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
		<ion-searchbar id="searchBar"></ion-searchbar>	
</ion-header>

<ion-content>
	<ion-list *ngFor="let recipe of recipes">
		<ion-item-sliding #item>
			<ion-item>
				<ion-label slot="start">
					{{recipe.title}}
				</ion-label>
				<ion-label slot="end">
					{{recipe.social_rank}}
				</ion-label>
			</ion-item>
		</ion-item-sliding>
	</ion-list>
</ion-content>
